/* GameBoy layout styles START*/
.gameboy {
    margin: auto;
    width: 250px;
    height: 400px;
    background-color: #347d5a;
    border-radius: 25px 25px 50px 25px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



/* GameBoy top and bottom containers styles */
.screen-container,
.controls-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}



/* Screen styles */
.screen-container {
    justify-content: center;
}

.screen-border {
    background: #131313;
    flex: 1;
    margin: 15px;
    border-radius: 25px 25px 30px 25px;
    display: flex;
}

.screen {
    margin: 20px;
    flex: 1;
    background-image: url(../media/startup_screen.gif);
    background-size: cover;
}


/* Logo styles */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nintendo {
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}



/* Upper controls styles and sub-controls container styles */
.upper-controls {
    margin-top: 10px;
    flex: 1;
    display: flex;
}

.sub-controls,
.arrows {
    flex: 1;
    display: flex;
    justify-content: center;
}

.arrows {
    flex-direction: column;
    align-items: center;
}

.up,
.down {
    height: 20px;
    width: 20px;
    background: #555;
    display: flex;
    justify-content: center;
}

.left-right-center {
    height: 20px;
    width: 60px;
    background: #555;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.a-b {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.a-button,
.b-button {
    font-weight: bold;
    color: #cdc9c9;
    background-color: #900446;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.b-button {
    margin-bottom: 40px;
}

.a-button:hover,
.b-button:hover {
    background-color: rgb(174, 30, 30);
}


/* Bottom controls styles */
.select,
.start {
    font-weight: bold;
    color: #cdc9c9;
    width: 40px;
    height: 10px;
    background-color: #545761;
    margin-top: 30px;
    border-radius: 15%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.start {
    margin-left: 10px;
}

.select:hover,
.start:hover {
    background-color: rgb(117, 114, 114);
}